@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans&display=swap');

$blackish: #2D2A32;
$teal: #0E7C7B;
$whiteish: #F1F7EE;
$lemon-lime: #E5F77D;
$dark-brown: #4C2719;

body {
  background-color: $teal;
  color: $whiteish;

  p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
  }
}

button {
  background-color: $lemon-lime;
  padding: 12px 20px;
  border-radius: 5px;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }
}

header {
  background-color: $dark-brown;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

h3:hover {
  cursor: pointer;
  color: $lemon-lime;
}

#book-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  #book-description {
    max-width: 350px;
  }
}

h1, h3, h4 {
  font-family: 'Bevan', Times, serif;
}
