@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

$green-black: #132A13;
$teal: #0E7C7B;
$whiteish: #F1F7EE;
$lemon-lime: #E5F77D;

body {
  background-color: $green-black;
  color: $whiteish;
}

button {
  background-color: $lemon-lime;
  padding: 12px 20px;
  border-radius: 5px;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#book-description {
  
}

h1 {
  font-family: 'Bevan', Times, serif;
}